.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  position: relative;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid;
  border-bottom: 5px solid;
  animation: spin 2s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.walls-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.wall {
  height: 20px;
  width: 100px;
  background-color: #333;
}

.ball {
  width: 30px;
  height: 30px;
  background-color: yellow;
  border-radius: 50%;
  animation: jump 1s linear infinite;
}

@keyframes jump {
  0% {
    transform: translateY(100px);
  }

  25% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-100px);
  }

  75% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100px);
  }
}

.changing-block {
  animation: change 8s linear infinite;
}

@keyframes change {
  0%,
  10% {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  0%,
  20%,
  65.1%,
  100% {
    background: linear-gradient(180deg, gray 0%, black 100%);
  }

  20.1%,
  65% {
    background: linear-gradient(60deg, red 0%, blue 100%);
  }

  15%,
  25% {
    border-radius: 0;
    transform: skew(0deg, 0deg) scale(1);
  }
  30% {
    transform: skew(5deg, -10deg) scale(0.5);
  }

  50% {
    transform: skew(5deg, -10deg) scale(0.5) rotate(1080deg);
  }

  70% {
    transform: skew(5deg, -10deg) scale(0.5) rotate(1080deg);
    border-radius: 0;
  }

  100% {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transform: rotate(1080deg);
  }
}
