.field {
  position: relative;
  display: inline-block;
  margin: 1rem;
  border-bottom: 1px solid;
}

.label {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s linear;
  text-transform: uppercase;
  font: bold 0.8rem sans-serif;
  color: #999;
}

.input {
  margin-top: 1.2rem;
  border: none;
  width: 120px;
  font: lighter 1.2rem sans-serif;
}

.input:valid + .label {
  opacity: 1;
  top: 0;
}

.input:invalid + .label {
  top: 10px;
  opacity: 0;
}

.input:focus {
  outline: none;
}

.input:focus + .label {
  color: rgb(47, 80, 226);
}
